#footer-subscribe {
  position: absolute;
  right: -45px;
  top: 28px;
  padding: 10px 0 0;
  width: 380px;
}
#services-carousel {
  width: 86% !important;
}

/*
 * Home page views
 */
.view-id-press_releases .publication-right-col,
.view-id-blogs .blogs-right-col {
  width:70%;
  margin-left:5%;
}