#footer-subscribe {
  position: absolute;
  right: -45px;
  top: 28px;
  padding: 10px 0 0;
  width: 380px;
}
#services-carousel {
  width: 86% !important;
}
#region-sidebar-second {
  background: #f6f6f6;
  border-top:none;
  margin-top:-10px;
  margin-right:0;
  margin-bottom:-10px;
  width: 30.25%;
}
body.not-front #zone-content {
  background:#fff;
}
#block-addthis-addthis,
#footer-logo-subscribe {
  display:block;
}

/*
 * Home page views
 */
.view-id-press_releases .publication-right-col,
.view-id-blogs .blogs-right-col {
  width:70%;
  margin-left:5%;
}
.breaking-news {
  padding: 0;
}

/*
 * Footer
 */
.footer-nav ul.menu li {
  width: 14%;
  padding:0;
  margin-left:0;
}

.footer-utility li, .footer-nav li {
  float: left;
  margin: 0 10px 15px 0;
}
.region-footer-first .address-location {
  width:44%;
  float:left;
  padding: 0 0 20px 8%;
}
.region-footer-first .footer-email {
  width:44%;
  float:left;
  padding: 0 0 20px 8%;
}
.region-footer-first .footer-phone {
  width:44%;
  float:left;
  padding: 0 0 20px 8%;
}
